
<footer class=" text-light" style="background-color: black;">
    <section class="container d-flex gap-5 pt-5">
        <div>
            <h3>Company</h3>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-decoration-none text-white">Abous Us</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Advertise With Us</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Blog</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Careers</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Legal Notice</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Affiliates</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Help & Contact</h3>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-decoration-none text-white">FAQ's'</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Report abuse</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Open a case</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Safety</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Policies & rules</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Contact Us</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Sell on Brand</h3>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-decoration-none text-white">Supplier memberships</a>
                </li>
                <li>
                    <a href="#" class="text-decoration-none text-white">Partner program</a>
                </li>
            </ul>
        </div>
    </section>
    <hr class="mx-5" />
    <section class="my-5 d-flex gap-5 container" style="text-align: justify">
        <div class="pe-5">
            <p>© Copyright 2023 <a href="#">letsbater.com</a> Limited. All rights reserved.BrandName.com Limited is an Appointed Representative of Compare The Market Limited who is authorised and regulated by the Financial Conduct Authority.BrandName.com Limited is an Introducer Appointed Representative of CarMoney Limited who are authorised and regulated by the Financial Conduct Authority, FRN 674094. BrandName.com Limited is a credit broker, not a lender. Introductions are limited to motor finance, CarMoney Limited will pay us a fixed commission per paid out <a href="#">deal.letsbatter.com</a> Limited, registered in England and Wales with number 000000000, XXXXXXXXXXX Katutura Street, Windhoek, Khomas, Namibia.</p>
        </div>
        <div>
            <div class="d-flex gap-3 mb-2">
                <input type="checkbox" class="" style="height: 2em;" />
                <label>Yes, I would like to receive regular email updates on Sedo product news, discounts, promotions and domain news. I can unsubscribe at any time using the unsubscribe link in the respective newsletter.</label>
            </div>
            <div class="input-group mb-3" style="width: 30em">
                <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
            </div>
        </div>
    </section>
    <hr class="mx-5" />
    <section class="pb-3">
        <div class="container d-flex text-center gap-5 justify-content-center">
            <a>Privacy</a>
            |
            <a>Terms & Conditions</a>
            |
            <a>Policy</a>
            |
            <a>Contact</a>
        </div>
    </section>
</footer>

@code {

}
