<div>
    <div>
        <div class="d-flex justify-content-between px-5" >
            <div>Let's Batter</div>
            <div>
                <i class="fa fa-search"></i>
                <input type="search" />
            </div>
            <div>
                <a id="" href="#">Donate Here</a>
                <a id="" href="#">Sell Now</a>
                <a id="" href="#">BROWSE PRODUCTS</a>
                <a id="" href="#">WHATS NEW?</a>
                <a id="" href="#">LOGIN</a>
                <a id="" href="#">REGISTER</a>
            </div>
        </div>

        <hr class="mx-5" />

        <div>
            <ul class="category-links d-flex border-black justify-content-between list-unstyled">
                <li class="">
                    <a class="" href="#">Home</a>
                </li>
                <li class="">
                    <i class="fa fa-heart"></i>
                    <a class="" href="#">Saved</a>
                </li>
                <li class="">
                    <a class="" href="#">For Babies</a>
                </li>
                <li class="">
                    <a class="" href="#">Gadgets</a>
                </li>
                <li class="">
                    <a class="" href="#">Machinery</a>
                </li>
                <li class="">
                    <a class="" href="#">Collectibles</a>
                </li>
                <li class="">
                    <a class="" href="#">Fashion</a>
                </li>
                <li class="">
                    <a class="" href="#">Motor</a>
                </li>
                <li class="">
                    <a class="" href="#">Electronics</a>
                </li>
                <li class="">
                    <a class="" href="#">Browse by Style</a>
                </li>
                <li class="">
                    <hr style="width: 20px;" />
                </li>
                <li class="">
                    <a class="" href="#">Blog</a>
                </li>
                <li class="">
                    <a class="" href="#">Contact Us</a>
                </li>
                <li class="">
                    <a class="" href="#">About Us</a>
                </li>
            </ul>
        </div>

    </div>
</div>