<div>
    <div style="height: 2em; background-color: black">

    </div>
    <div class="" style="border-bottom: 1px solid black">
        <div class="d-flex gap-3 align-items-center justify-content-between px-5" >
            <div class="col-2"><a class="fs-1 text-decoration-none text-black" href="/">Let's Batter</a></div>
            <div class="col-4">
                <div class="ps-3 d-flex align-items-center" style="border: 1px solid black; border-radius:5px;">
                    <i class="fa fa-search"></i>
                    <input class="form-control" onsubmit="" type="search" style="border:none" placeholder="Search for product or brand.." />
                </div>
            </div>
            <div class="d-flex gap-4 align-items-center">
                <a class="btn btn-success" id="" style="min-width: 7em" href="donate">Donate Here</a>
                <a class="btn btn-dark" id="" style="min-width: 7em" href="register">Sell Now</a>
                <a id="" href="search">BROWSE PRODUCTS</a>
                <a id="" href="blog">WHATS NEW?</a>
                <a class="accountsbtn btn btn-dark" id="" href="login">LOGIN</a>
                <a class="accountsbtn btn btn-dark" id="" href="register">REGISTER</a>
            </div>
        </div>

        <hr class="mx-5 m-0" />
        <div class="d-flex justify-content-center gap-4 align-items-center">
            <ul class="category-links d-flex list-unstyled gap-5 m-0">
                <li class="">
                    <a class="" href="/">Home</a>
                </li>
                <li class="d-flex align-items-center gap-1">
                    <i class="fa fa-heart"></i>
                    <a class="" href="register">Saved</a>
                </li>
                <li class="">
                    <a class="" href="search">For Babies</a>
                </li>
                <li class="">
                    <a class="" href="search">Gadgets</a>
                </li>
                <li class="">
                    <a class="" href="search">Machinery</a>
                </li>
                <li class="">
                    <a class="" href="search">Collectibles</a>
                </li>
                <li class="">
                    <a class="" href="search">Fashion</a>
                </li>
                <li class="">
                    <a class="" href="search">Motor</a>
                </li>
                <li class="">
                    <a class="" href="search">Electronics</a>
                </li>
                <li class="">
                    <a class="" href="search">Browse by Style</a>
                </li>
            </ul>
            <div class="fs-2">
                |
            </div>
            <ul class="category-links d-flex justify-content-between gap-3 list-unstyled m-0">
                <li class="">
                    <a class="text-decoration-none" href="blog">Blog</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="contact">Contact Us</a>
                </li>
                <li class="">
                    <a class="text-decoration-none" href="about">About Us</a>
                </li>
            </ul>
        </div>

    </div>
</div>