<div>
    <div class="border-red">
        <div class="d-flex justify-content-between px-5 border-green" >
            <div>Let's Batter</div>
            <div>
                <i class="fa fa-search"></i>
                <input type="search" />
            </div>
            <div>
                <a id="" href="donate">Donate Here</a>
                <a id="" href="#">Sell Now</a>
                <a id="" href="#">BROWSE PRODUCTS</a>
                <a id="" href="#">WHATS NEW?</a>
                <a id="" href="login">LOGIN</a>
                <a id="" href="register">REGISTER</a>
            </div>
        </div>

        <hr class="mx-5 my-2" />

        <div class="m-0 p-0 border-yellow pb-0">
            <div class="p-0 m-0">
                <ul class="category-links d-flex border-black list-unstyled gap-5">
                    <li class="">
                        <a class="" href="#">Home</a>
                    </li>
                    <li class="">
                        <i class="fa fa-heart"></i>
                        <a class="" href="#">Saved</a>
                    </li>
                    <li class="">
                        <a class="" href="#">For Babies</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Gadgets</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Machinery</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Collectibles</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Fashion</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Motor</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Electronics</a>
                    </li>
                    <li class="">
                        <a class="" href="#">Browse by Style</a>
                    </li>
                </ul>
            </div>
@*            <div class="p-0 m-0">
                |
            </div>*@
            <div class="p-0 m-0 mb-0 border-red" style="margin-bottom: 0px !important; ">
                <ul class="category-links d-flex border-black justify-content-between gap-3 list-unstyled clearfix">
                    <li class="">
                        <a class="text-decoration-none" href="#">Blog</a>
                    </li>
                    <li class="">
                        <a class="text-decoration-none" href="#">Contact Us</a>
                    </li>
                    <li class="">
                        <a class="text-decoration-none" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>