@page "/donate"
<div class="bg-success " style="height: 5em; position:relative">
    <h3 class="position-absolute" style="top:25%; left: 2%">Donate</h3>
</div>
<div class="donate-banner">

</div>


@code {

}
